
/* Universal Styles */

@font-face {
  font-family: "Mukta";
  src: url(../fonts/Mukta-Regular.ttf)format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: "Mukta";
  src: url(../fonts/Mukta-Bold.ttf)format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: "Mukta";
  src: url(../fonts/Mukta-Light.ttf)format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: "Berylium";
  src: url(../fonts/Beryliumbold.ttf)format('truetype');
  font-weight: 700;
}


html {
  font-family: "Mukta",sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
  letter-spacing: .10rem;
}


body {
  line-height: 1.4;
  background-image: url("../images/colmar-academy-website-bg.jpg");
  background-position: 55% 15%;

}

.container {
  width: 100%;
  margin: 0 auto;
}


/* Header */

#colmar {
  font-weight: 700;
  font-size: 1.25rem;
}

#colmar a:hover {
  font-size: 1.25rem;
  text-decoration: underline;
}

#colmar a:active {
  font-size: 1.25rem;
  color: rgba(255, 255, 255, 1);
}



nav {
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(244, 199, 0, 1);
  color: rgba(0, 0, 0, 1);
  position: fixed;
}

nav div {
  display: flex;
  align-items: center;
  margin-right: 1.5rem;
}

nav img {
 height: 2rem;
 margin-left: 1.5rem;
}

nav li {
  display: inline;
  margin-left: 1rem;
}


a {
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
}

li a:hover {
  font-weight: 700;
  text-decoration: underline;
}

li a:active {
  font-weight: 700;
  color: rgba(255, 255, 255, 1);
  font-size: 1rem;
}

.icon-menu {
  display: none;
}

/* Main-Banner */

 .main-banner {
  display:flex;
  justify-content: flex-start;
  padding-top: 6rem;
  padding-bottom: 1.7rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  width: 100%;
  background-color: rgba(255, 255, 255, .5);

}

.banner-left {
    width: 60%;
    margin-right: 1.5rem;
}

.banner-left img {
    width: 100%;
}


.banner-right-side {
    padding-top: 11rem;
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
}

.headline {
  font-size: 3rem;
  font-weight: 700;
}

.headline2 {
  font-size: 3rem;
  font-weight: 700;
  margin-top: -1rem;
}

.subtext {
  font-size: 1.5rem;
  font-weight: 400;
  color: rgba(64,64,64, 1);
}


.button {
  margin-top: 1.25rem;
  text-align: center;
  font-size: 1.5rem;
  padding: .5em;
  width: 22rem;
  letter-spacing: .12rem;
  background-color: rgba(244, 199, 0, 1);
  box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.5);
}

.button a:hover {
  font-weight: 700;
  text-decoration: underline;
  color: rgba(0, 0, 0, 1);
}

  .button a:active {
    color: rgba(255, 255, 255, 1);
    font-size: 1.5rem;
}


 /* School Information Banner (second-banner)  */


 .second-banner {

 display:flex;
 justify-content: flex-start;
 padding-top: 2rem;
 margin-left: 1.5rem;
 width: 100%;
 background-color: rgba(255, 255, 255, .5);

 }


.second-banner-left {
    width: 60%;

}


 .second-banner-left img {
    width: 100%;
 }



.second-to-fourth-banner-headings {
  margin-top: 1.2rem;
  font-size: 2.75rem;
  font-weight: 700;

}

 .sub-hs-paragraph {
   margin-top: .5rem;
   font-size: 1.5rem;
  color: rgba(64,64,64, 1);
}

.second-banner-right {

    width: 40%;
    padding-left: rem;
    margin-top: -1rem;
    display: flex;
    flex-direction: column;


}

.second-banner-right-links {
    display: flex;
    align-items: center;
    margin: 0rem 0rem 0rem 1.5rem;

}

#oliver {

    background-color: rgba(244, 199, 0, 1);
    color:;

}


 .second-banner-right-links-copy span a{
  font-size: 1.5rem;
  font-weight: 200;
  color: rgba(128, 128, 128, 1);

}

.second-banner-right-links img {
  margin: 1rem 0rem 1rem 1rem;
  margin-top:1rem;
  height: auto;
  width: 35%;
}

.second-banner-right-links-copy  h4{
    color: rgba(0, 0, 0, 1);
    font-size: 2rem;
    font-weight: 700;
}

.second-banner-right-links-copy  p {
  font-size: 1.5rem;
  font-weight: 100;
  color: rgba(128,128,128, 1);
}


.second-banner-right-links-copy {
    width: 65%;
    padding-left: 2rem;
}

.button2 a:hover {
  font-weight: 400;
  text-decoration: underline;
  color: rgba(0, 0, 0, 1);
}

  .button2 a:active {
    color: rgba(244, 199, 0, 1);
    font-size: 1.5rem;
}


.img-mobile {
    display: none;
}
